<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet" href="/css/styles.css">
<link rel = "icon" href="/img/weather.png">
<title>About</title>
</head>

<body>
    
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/image1.jpg">
        <div class="overlay">
            <div class="text">This website was created by Samir. It uses weatherstac API and mapbox API.</div>
        </div>
    </div>

    {{>footer}}
</body>

</html>